<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<style>
    table th {
        border: solid 1px #3c763d;
    }

    table {
        background-color: darkgrey;
    }

    div {
        border: solid 1px black;
        background-color: chocolate;
    }

    span {
        background-color: cadetblue;
    }

    a {
        background-color: blue;
    }

    #table1 {
        width: 100%;
        background-color: darkgrey;
    }

    .div1 {
        width: 500px;
    }
</style>
<body>
<table id="table1">
    <thead>table1 width=100%</thead>
    <tr>
        <th>Заголовок 1</th>
        <th>Заголовок 2</th>
        <th>Заголовок 2</th>
        <th>Заголовок 2</th>
        <th>Заголовок 2</th>
        <th>Заголовок 2</th>
        <th>Заголовок 2</th>
        <th>Заголовок 2</th>
        <th>Заголовок 2</th>
    </tr>
    <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
        <td>Ячейка 2</td>
        <td>Ячейка 2</td>
        <td>Ячейка 2</td>
        <td>Ячейка 2</td>
        <td>Ячейка 2</td>
        <td>Ячейка 2</td>
        <td>Ячейка 2</td>
    </tr>
</table>
<table id="table2">
    <thead>table2</thead>
    <tr>
        <th>Заголовок 1</th>
        <th>Заголовок 2</th>
    </tr>
    <tr>
        <td>Ячейка 1</td>
        <td>Ячейка 2</td>
    </tr>
</table>
<div>DIV</div>
<div class="div1">DIV width=500px</div>
<div class="div1">DIV width=500px
    <a>Ссылка в DIV</a>
</div>
<span>span</span>
<span>span</span>
<a>Ссылка</a>
</body>
</html>