a:link {
    font-size: larger;
    color: black;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
    color: cornflowerblue; /* Цвет ссылки */
}

.a-head{
    font-weight: bold;
}

.external {
    background-color: yellow;
}

.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
}

.box{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}
.frontpage-content__part {
    display: inline-block;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: #9b6b6b;
    border-radius: 12px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 8px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}


.selectable {
     min-height: 30px;
}
.selectable:hover {
     background-color: darkgray;
}

#id19_1 {
    background-color: green;
    width: 150px;
    height: 150px;
    text-align: center;
    cursor: pointer;
}

#id19_2 {
    background-color: blue;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
}

#id19_3 {
    background-color: red;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
}